extends ../layout/base

block variables
    - let title = 'insprify'


block content
    .mob-menu-ctg.brg
        .wrapper-mob
            .header
                p Inspirfy Stories
                button
                    img(src="assets/img/OOjs_UI_icon_close.svg")
            .nav
                li
                    a(href="https://www.inspirfy.com/designIdeas") Design ideas
                li
                    a(href="https://www.inspirfy.com/designersAndArch") Designers & Arch
                li
                    a(href="https://www.inspirfy.com/shop") Shopping
                li
                    a(href="/") Blog
    .mob-menu-ctg.ctg
        .wrapper-mob
            .header
                p Inspirfy Stories
                button
                    img(src="assets/img/OOjs_UI_icon_close.svg")
            .nav
                li
                    a All
                li
                    a Lighting
                li
                    a Office
                li
                    a All
                li
                    a Lighting
                li
                    a Office
                li
                    a All
                li
                    a Lighting
                li
                    a Office

    .sub-header
        .inner
            .sub-header-title
                p Inspirfy Stories
            .sub-header-nav
                li
                    a All
                li
                    a Lighting
                li
                    a Office
                li
                    a All
                li
                    a Lighting
                li
                    a Office
                li
                    a All
                li
                    a Lighting
                li
                    a Office
                li.more
                    a.more More
    .mob-menu
        .nav

    .page
        //.page__title.title-page
        //	.title-page__container.container
        //		h1 Blog
        .posts-block__container.container
            .posts-block__column.sticky
                .post
                    a.post__img(href="/")
                        img(src="/assets/img/category/01.jpg")
                    .content
                        .post__body
                            .post__category THEME
                            a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
                            .post__text Tips that helped me evolve from frazzled to refreshed
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
            .posts-block__column.posts-block__overflow
                .posts-block__body
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/02.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") Designing your Space with Shibori and Indigo 8 ways to spruce your decor with this
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/03.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") 10 Must-Have Items From IKEA for Under $10
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/04.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") How to Make Your Small Living Room Feel Bigger
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/05.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") How to Use Bold, Trendy Colors with Balance
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/06.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") These Designer Tricks Will Make Your Space Look Larger
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/07.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") Minimalist Design for the Hoarder at Heart
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/08.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/09.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") Going Green, And Not In The Way You Think
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/10.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/11.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421
                    .side-post
                        a.side-post__img(href="/")
                            img(src="/assets/img/category/12.jpg")
                        .side-post__content
                            .side-post__category CATEGORY
                                //span.side-post__time 10 MIN READ
                            a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                            .post__footer
                                .post__author
                                    //img(src="/assets/img/category/01.jpg")
                                    span Nathan Howard
                                //.post__like.icon-like 997
                                //.post__comments.icon-message 421

        //.page__posts-small.small-posts
        //    .small-posts__container.container
        //        .small-posts__title Lorem ipsum dolor sit amet
        //        .small-posts__row
        //            .small-posts__item
        //                .post.post__small
        //                    a.post__img(href="/")
        //                        img(src="/assets/img/category/07.jpg")
        //                    .post__body
        //                        .post__category CATEGORY
        //                        a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //                        .post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .small-posts__item
        //                .post.post__small
        //                    a.post__img(href="/")
        //                        img(src="/assets/img/category/08.jpg")
        //                    .post__body
        //                        .post__category CATEGORY
        //                        a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //                        .post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .small-posts__item
        //                .post.post__small
        //                    a.post__img(href="/")
        //                        img(src="/assets/img/category/09.jpg")
        //                    .post__body
        //                        .post__category CATEGORY
        //                        a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //                        .post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .small-posts__item
        //                .post.post__small
        //                    a.post__img(href="/")
        //                        img(src="/assets/img/category/10.jpg")
        //                    .post__body
        //                        .post__category CATEGORY
        //                        a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //                        .post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421

        .page__main-sliders.main-sliders
            .main-sliders__body.js-slider
                .main-sliders__item.slide
                    .slide__image.ibg
                        img(src="/assets/img/video/video-01.jpg")
                    .slide__content.container
                        .slide__column.content
                            .slide__subtitle TOP OF THE WEEK PLAYLIST
                            .slide__column.play
                                .slide__title Interior Overview
                                .slide__play
                                a.slide__play-icon.icon-play.popup-link(href="#video" data-video="vx2u5uUu3DE")
                            //.slide__play-time 2:12
                .main-sliders__item.slide
                    .slide__image.ibg
                        img(src="/assets/img/video/video-02.jpg")
                    .slide__content.container
                        .slide__column.content
                            .slide__subtitle TOP OF THE WEEK PLAYLIST
                            .slide__column.play
                                .slide__title Interior Overview
                                .slide__play
                                a.slide__play-icon.icon-play.popup-link(href="#video" data-video="vx2u5uUu3DE")
                            //.slide__play-time 2:12
            .slide__navigation.navigation-slide
                .navigation-slide__container.container
                    .navigation-slide__body
                        ul.navigation-slide__dots(id="customize-thumbnails")
                            li
                            li
                        .navigation-slide__arrows.arrows
                            .arrows__next.icon-right-arrow(id="arrows__next") UP NEXT
        //.page__block-video.video-block
        //    .video-block__container.container
        //        .video-block__row
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="6ASD8gHrDeE")
        //                    img(src="/assets/img/video/video-02.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="vx2u5uUu3DE")
        //                    img(src="/assets/img/video/video-03.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="6ASD8gHrDeE")
        //                    img(src="/assets/img/video/video-04.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="vx2u5uUu3DE")
        //                    img(src="/assets/img/video/video-05.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="vx2u5uUu3DE")
        //                    img(src="/assets/img/video/video-06.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="vx2u5uUu3DE")
        //                    img(src="/assets/img/video/video-07.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="vx2u5uUu3DE")
        //                    img(src="/assets/img/video/video-08.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="/")
        //                    img(src="/assets/img/video/video-09.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="6ASD8gHrDeE")
        //                    img(src="/assets/img/video/video-10.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="6ASD8gHrDeE")
        //                    img(src="/assets/img/video/video-11.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="6ASD8gHrDeE")
        //                    img(src="/assets/img/video/video-12.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //            .video-block__item.post.post__small
        //                a.post__video.popup-link.icon-play(href="#video" data-video="6ASD8gHrDeE")
        //                    img(src="/assets/img/video/video-13.jpg")
        //                .post__body
        //                    .post__category CATEGORY
        //                    a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
        //        button.video-block__button.btn(method="GET" action="#") Load more

        //.page__posts-row.row-post
        //    .row-post__container.container
        //        .row-post__title Lorem ipsum dolor sit.
        //        .row-post__body
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-01.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-02.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-03.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-04.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-05.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-06.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-07.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-08.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-09.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //            .row-post__item.side-post
        //                a.side-post__img(href="/")
        //                    img(src="/assets/img/last-block/last-block-10.jpg")
        //                .side-post__content
        //                    .side-post__category CATEGORY
        //                        //span.side-post__time 10 MIN READ
        //                    a.side-post__title(href="/") eiusmod dolore non commodo amet minim amet et sunt cupidatat mollit minim fugiat
        //                    .post__footer
        //                        .post__author
        //                            img(src="/assets/img/category/01.jpg")
        //                            span Nathan Howard
        //                        //.post__like.icon-like 997
        //                        //.post__comments.icon-message 421
        //        button.row-post__button.btn(method="GET" action="#") Load more

    .posts-block__container.container
        .posts-block__column.sticky
            .post
                a.post__img(href="/")
                    img(src="/assets/img/category/01.jpg")
                .content
                    .post__body
                        .post__category THEME
                        a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
                        .post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                    .post__footer
                        .post__author
                            //img(src="/assets/img/category/01.jpg")
                            span Nathan Howard
                        //.post__like.icon-like 997
                        //.post__comments.icon-message 421
        .posts-block__column.posts-block__overflow
            .posts-block__body
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/02.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") Designing your Space with Shibori and Indigo 8 ways to spruce your decor with this
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/03.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 10 Must-Have Items From IKEA for Under $10
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/04.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") How to Make Your Small Living Room Feel Bigger
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/05.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") How to Use Bold, Trendy Colors with Balance
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/06.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") These Designer Tricks Will Make Your Space Look Larger
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/07.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") Minimalist Design for the Hoarder at Heart
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/08.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/09.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") Going Green, And Not In The Way You Think
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/10.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/11.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/12.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421

    .page__main-sliders.main-sliders
        .main-sliders__body.one.js-slider
            .main-sliders__item.slide
                .slide__image.ibg
                    img(src="/assets/img/video/video-01.jpg")
                .slide__content.container
                    .slide__column.content
                        .slide__subtitle TOP OF THE WEEK PLAYLIST
                        .slide__column.play
                            .slide__title Interior Overview
                            .slide__play
                            a.slide__play-icon.icon-play.popup-link(href="#video" data-video="vx2u5uUu3DE")
                        //.slide__play-time 2:12
            .main-sliders__item.slide
                .slide__image.ibg
                    img(src="/assets/img/video/video-02.jpg")
                .slide__content.container
                    .slide__column.content
                        .slide__subtitle TOP OF THE WEEK PLAYLIST
                        .slide__column.play
                            .slide__title Interior Overview
                            .slide__play
                            a.slide__play-icon.icon-play.popup-link(href="#video" data-video="vx2u5uUu3DE")
                        //.slide__play-time 2:12
        .slide__navigation.navigation-slide
            .navigation-slide__container.container
                .navigation-slide__body
                    ul.navigation-slide__dots(id="customize-thumbnails-1")
                        li
                        li
                    .navigation-slide__arrows.arrows
                        .arrows__next.icon-right-arrow(id="arrows__next-1") UP NEXT


    .posts-block__container.container
        .posts-block__column.sticky
            .post
                a.post__img(href="/")
                    img(src="/assets/img/category/01.jpg")
                .content
                    .post__body
                        .post__category THEME
                        a.post__title(href="/") Wanderlust By Design :: The Rooms At Maison De La Luz In New Orleans
                        .post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                    .post__footer
                        .post__author
                            //img(src="/assets/img/category/01.jpg")
                            span Nathan Howard
                        //.post__like.icon-like 997
                        //.post__comments.icon-message 421
        .posts-block__column.posts-block__overflow
            .posts-block__body
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/02.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") Designing your Space with Shibori and Indigo 8 ways to spruce your decor with this
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/03.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 10 Must-Have Items From IKEA for Under $10
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/04.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") How to Make Your Small Living Room Feel Bigger
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/05.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") How to Use Bold, Trendy Colors with Balance
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/06.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") These Designer Tricks Will Make Your Space Look Larger
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/07.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") Minimalist Design for the Hoarder at Heart
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/08.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/09.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") Going Green, And Not In The Way You Think
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/10.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/11.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421
                .side-post
                    a.side-post__img(href="/")
                        img(src="/assets/img/category/12.jpg")
                    .side-post__content
                        .side-post__category CATEGORY
                            //span.side-post__time 10 MIN READ
                        a.side-post__title(href="/") 5 Bedroom Lighting Ideas To Blow Your Mind, Not Budget
                        .post__footer
                            .post__author
                                //img(src="/assets/img/category/01.jpg")
                                span Nathan Howard
                            //.post__like.icon-like 997
                            //.post__comments.icon-message 421

    //.page__main-sliders.main-sliders
    //    .main-sliders__body.js-slider.two
    //        .main-sliders__item.slide
    //            .slide__image.ibg
    //                img(src="/assets/img/video/video-01.jpg")
    //            .slide__content.container
    //                .slide__column
    //                    .slide__subtitle TOP OF THE WEEK PLAYLIST
    //                    .slide__title Interior Overview
    //                .slide__column
    //                    .slide__play
    //                        a.slide__play-icon.icon-play.popup-link(href="#video" data-video="vx2u5uUu3DE")
    //                    .slide__play-time 2:12
    //        .main-sliders__item.slide
    //            .slide__image.ibg
    //                img(src="/assets/img/video/video-02.jpg")
    //            .slide__content.container
    //                .slide__column
    //                    .slide__subtitle TOP OF THE WEEK PLAYLIST
    //                    .slide__title Interior Overview
    //                .slide__column
    //                    .slide__play
    //                        a.slide__play-icon.icon-play.popup-link(href="#video" data-video="vx2u5uUu3DE")
    //                    .slide__play-time 2:12
    //    .slide__navigation.navigation-slide
    //        .navigation-slide__container.container
    //            .navigation-slide__body
    //                ul.navigation-slide__dots(id="customize-thumbnails-2")
    //                    li
    //                    li
    //                .navigation-slide__arrows.arrows
    //                    .arrows__next.icon-right-arrow(id="arrows__next-2") UP NEXT
    //
    //

    .popup.popup_video(id="video")
        .popup__content
            .popup__body
                .popup__close.popup__close_video.icon-close
                .popup__video._video Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, similique.
