include ../utils/mixins
include ../utils/img-mixin

- let locale = 'ru'

block variables

doctype html
html(lang=locale)
	head
	include baseHead
	title=title
	link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
	block head
		body
			.wrapper
				include ../layout/header
				block content
				//- include ../layout/footer


