footer.footer
	.footer__top.top-footer
		.top-footer__container.container
			.top-footer__logo
				img(src="/assets/img/logo-footer.svg")
			.top-footer__menu.menu-footer
				.menu-footer__item
					a.menu-footer__link(href="#") Design ideas
				.menu-footer__item
					a.menu-footer__link(href="#") Designers & Arch
				.menu-footer__item
					a.menu-footer__link(href="#") Shopping
				.menu-footer__item
					a.menu-footer__link(href="#") About us
				.menu-footer__item
					a.menu-footer__link(href="#") Contact Us
	.footer__bottom.bottom-footer
		.bottom-footer__container.container
			.bottom-footer__column © Interior Marketplace, Inc., 2020.   All rights reserved.
			.bottom-footer__column.info-bottom-footer
				a.info-bottom-footer__link(href="#") Terms Of Service
				a.info-bottom-footer__link(href="#") Privacy Policy
				a.info-bottom-footer__link(href="#") Security
			.bottom-footer__column
				span Created by:
				a(href="#") TAK A SHO