//header.header
//    .header__content.container
//        .icon-menu
//            span
//            span
//            span
//        a(href="/").header__logo
//            img(src="/assets/img/logo.svg")
//            span inspirfy
//        nav.header__menu.menu-header
//            .menu-header__body
//                ul.menu-header__list
//                    li
//                        a.menu-header__link(href="#") Design ideas
//                    li
//                        a.menu-header__link(href="#") Designers & Arch
//        .header__action.action-header
//            .action-header__column
//                a.action-header__link.signin(href="#") Sign in
//            .action-header__column
//                a.action-header__link.signup(href="#") Sign up


header
    .left-header
        a(href="#")
            img(src="/assets/img/logo.svg", alt="logo").logo
        #nav-items
            a.nav-item.waves-effect.waves-light(href="#")
                span.sidebar-title Design ideas
            a.nav-item.waves-effect.waves-light(href="#")
                span.sidebar-title Designers & Arch
            a.nav-item.waves-effect.waves-light(href="#")
                span.sidebar-title Shopping
            a.nav-item.waves-effect.waves-light(href="#")
                span.sidebar-title Blog
    .right-header
        .action-header__column
            a.action-header__link.signin(href="#") Sign in
        .action-header__column
            a.action-header__link.signup(href="#") Sign up
    //    .top-bar-icons
    //        a(href="#")
    //            i.material-icons shopping_bag
    //        a(href="#")
    //            i.material-icons email
    //        a(href="#")
    //            i.material-icons notifications
    //    a(href="#")
    //        img.user-avatar(src="/assets/img/avatar.png", alt="user-avatar")



