header
{
  font-family: 'Roboto', sans-serif;

  position: fixed;
  z-index: 100;
  width: 100%;

  padding: 16px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.07);

  transition: all .3s;
  height: 75px;

  &.scroll-down
  {
	transition: all .3s;
	//height: 50px;
	transform: translateY(-75px);
	}

  &.scroll-up
  {
	transition: all .3s;
	//height: 75px;
	transform: translateY(0);
	}

  .left-header, .right-header
  {
	display: flex;
	align-items: center;
	}

  .left-header
  {

	img.logo
	{
	  margin-right: 32px;
	  }

	.nav-item
	{
	  padding-right: 32px;

	  font-size: 15px;
	  font-weight: 700;
	  color: rgba(0, 0, 0, 0.6);
	  transition: 0.2s ease-out;

	  @media(max-width: 800.98px)
	  {
		display: none;
		}

	  &:hover
	  {
		transition: 0.2s ease-out;
		color: #000;
		}
	  }
	}

  .right-header
  {

	.signup
	{
	  margin-left: 24px;

	  display: flex;
	  justify-content: center;
	  padding: 8px 24px;
	  cursor: pointer;
	  transition: all .3s;
	  color: #fff;
	  border-radius: 4px;
	  background-color: #000;

	  &:active
	  {
		transform: scale(0.9);
		transition: all .3s;
		}
	  }

	.top-bar-icons
	{
	  display: flex;
	  align-items: center;

	  @media(max-width: 767.98px)
	  {
		display: none;
		}

	  a
	  {
		padding: 8px 10px;
		border-radius: 100px;
		color: #9E9EA7;
		margin: 0 4px;
		transition: 0.2s;

		&:hover
		{
		  background-color: #F0F2F5;
		  color: #000;}

		&:active
		{
		  transform: scale(0.7);
		  background-color: #CDCFD3;
		  color: #000;}
		}
	  }

	.user-avatar
	{
	  width: 40px;
	  height: 40px;
	  object-fit: cover;
	  border-radius: 50%;
	  margin-left: 12px;
	  }
	}
  }